<table class="table table-hover">
	<tr>
		<td>Заголовок</td>
		<td>{{item.title}}</td>
	</tr>
	<tr>
		<td>Описание</td>
		<td>{{item.description}}</td>
	</tr>
	<tr>
		<td>Дата</td>
		<td>{{item.date | date:'dd:MM:yy HH:mm'}}</td>
	</tr>
	<tr>
		<td>Приоретет</td>
		<td>{{ item.priority }}</td>
	</tr>
	<tr>
		<td>По плану</td>
		<td>{{ item.planned | date:'HH:mm:ss'}}</td>
	</tr>
	<tr>
		<td>Прошло</td>
		<td>{{ item.estimated | date:'HH:mm:ss'}}</td>
	</tr>
	<tr>
		<td>Статус</td>
		<td>{{ item.status }}</td>
	</tr>
</table>
<p>
	<a href="#/">Назад к списку</a><br /> <a href="#/login">Выйти</a>
</p>